.header{
  z-index: +10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  //background-color: #323436;
  @include transition(all, 1s);

  &-large{
    background-color: rgba(255,255,255,0);
    font-size: 24px;
    padding: 30px 0;

    .navbar-brand{
      font-size: 24px;
    }
  }

  &-default{
    background-color: rgba(50,52,54,1);
    border-bottom: 3px solid #25a8e0;
    font-size: 16px;
    padding: 0;
  }

  .navbar-brand{
    color: #FFFFFF;
  }
}
.navbar {
  &-brand {
    //the bold style
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
  }
}
.navbar-inverse .navbar-brand {
  color: #000;
}

//From http://www.bootcss.com/
@media (min-width: 768px){
  .navbar {
    min-height: 40px;

    &-brand {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 42px;
      height: 42px;
    }

    &-nav{
      > li{

        > a{
          font-size: 14px;
          padding-top: 11px;
          padding-bottom: 11px;
        }
      }
    }
  }
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .current-menu-item > a,
.navbar-inverse .navbar-nav > .current-menu-item > a:hover,
.navbar-inverse .navbar-nav > .current-menu-item > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .current-menu-item > a,
.navbar-default .navbar-nav > .current-menu-item > a:hover,
.navbar-default .navbar-nav > .current-menu-item > a:focus {
  color: #555;
  background-color: #e7e7e7;
  //background-color: transparent;
}
