@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

html,body{
  height: 100%;
}

.main-container, .sections, .section{
  height: 600px;
  position: relative; //非常重要，直接影响到 jQuery取position的值
}

#section1{
  background-color: #25a8e0;//#46b8da;
  //z-index: -3;
  height: 600px;
  padding-top: 200px;

  .jumbotron{
    background-color: transparent;
  }
}
#section2{

}

#particleground{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  //z-index: -2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#particleground2{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  //background-color: #25a8e0;//#46b8da;
  //z-index: -1;
}

#section3{
  //background: url("../images/section3-bg.jpg");
  border-top: 1px solid #555555;
  .container{
    height: 100%;
  }
  .randabout{
    height: 100%;
    position: relative;
  }
}
.rand-item{
  //overflow: hidden;
  position: absolute;
  //width: 300px;
  display: inline-block;
  //height: 200px;
  width: 60px;
  height: 60px;
  //float: left;
  //margin: 30px;

  img{
    position: absolute;
    float: left;
    width: 60px;
    height: 60px;
    //margin-top: -30px;
    //margin-left: -30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: solid rgba(100, 100, 30, .5) 1px;
  }

  .info {
    position: absolute;
    width: 300px;
    display: none;
    background: rgba(10,10,10,.5);
    color: #FFFFFF;
    padding: 10px;
  }

  &:hover{
    z-index: +100;

    img{
      border-bottom-right-radius: 0;
      margin-left: -50%;
      margin-top: -50%;
      /*margin-left: -30px;
      margin-top: -30px;
      width: 60px !important;
      height: 60px !important;*/
    }

    .info {
      display: block;
    }
  }
}

#section4 {
  //background: url("../images/section3-bg.jpg");
  border-top: 1px solid #555555;
}
