$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$navbar-inverse-border: #080808;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header", "footer", "home", "blog";

body{
  //padding-top: 40px;
  border-top: 42px solid #282828;
  background-color: #EEEEEE;//#f5f5f5; //#fbfbfb;
}

.box-common{
  padding: 15px;
  margin-bottom: 15px;
  //color: #666;
  //border: 1px #e7e7e7 solid;
  border: 1px #dddddd solid;
  background: #ffffff;
  -webkit-box-shadow: #ececec 0 0 5px; //3px
  -moz-box-shadow: #ececec 0 0 5px;
  box-shadow: #ececec 0 0 5px;
}

.nav li{
  position: relative;

  .sub-menu{
    display: none;
    position: absolute;
    list-style: none;
    border: 1px solid #EEEEEE;
    background: #ffffff;
    margin: 0;
    padding: 0;
    min-width: 150px;

    .menu-item{
      line-height: 2em;

      a{
        color: #999;
        text-decoration: none;
        display: block;
        padding: 8px 15px;
        white-space: nowrap;
      }

      &:hover{
        background: #f8f8f8;

        a{
          color: #333;
        }
      }
    }
  }

  &:hover .sub-menu{
    display: block;
  }
}

.screen-reader-text{
  display: none;
}
