$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$navbar-inverse-border: #080808;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header", "footer";

body{
  padding-top: 30px;
  background-color: #fbfbfb; 
}

.box-common{
  padding: 15px;
  color: #666;
  border: 1px #ffffff solid;
  background: #ffffff;
  -webkit-box-shadow: #ececec 0 0 3px;
  -moz-box-shadow: #ececec 0 0 3px;
  box-shadow: #ececec 0 0 3px;
}
