$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$navbar-inverse-border: #080808;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header", "footer";

body{
  padding-top: 30px;
}
